
/* *,
*::after,
*::before {
    box-sizing: border-box;
} */

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    height: 100vh;
}
